In [74]:
import pandas as pd
pd.set_option('display.max_columns', 700)

# Create URL
url_tr = 'https://thecleverprogrammer.com/wp-content/uploads/2020/05/churn.csv'

# Load dataset
dataframe = pd.read_csv(url_tr)

# Show first 5 rows
dataframe.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [75]:
dataframe['Contract'].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

# Describe The Data

In [76]:
# Show dimensions
dataframe.shape

(7043, 21)

In [77]:
# Show statistics
dataframe.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [80]:
# Show top two rows where column 'sex' is 'female'
len(dataframe[dataframe['gender'] == 'Female'])

3488

# Navigating DataFrames

## Problem
*  You need to select individual data or slices of a DataFrame.

In [81]:
# Solution
# Use loc or iloc to select one or more rows or values:

# Load library
import pandas as pd

# Select first row
dataframe.iloc[0]

customerID                7590-VHVEG
gender                        Female
SeniorCitizen                      0
Partner                          Yes
Dependents                        No
tenure                             1
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                    No
OnlineBackup                     Yes
DeviceProtection                  No
TechSupport                       No
StreamingTV                       No
StreamingMovies                   No
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 29.85
TotalCharges                   29.85
Churn                             No
Name: 0, dtype: object

In [82]:
# Select three rows
dataframe.iloc[1:4]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [83]:
# Select three rows
dataframe.iloc[:4]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

# Selecting Rows Based on Conditionals
## Problem
You want to select DataFrame rows based on some condition.

In [84]:
#  Solution
#  This can be easily done in pandas. For example, if we wanted to select all the women
#  on the Titanic:

# Show top two rows where column 'sex' is 'female'
dataframe[dataframe['MultipleLines'] == 'No phone service'].head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
20,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes
27,8665-UTDHZ,Male,0,Yes,Yes,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,No,Electronic check,30.20,30.2,Yes

In [85]:
# Filter rows
dataframe[(dataframe['MultipleLines'] == 'No phone service') & (dataframe['InternetService'] == 'DSL')].head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
20,8779-QRDMV,Male,1,No,No,1,No,No phone service,DSL,No,No,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,39.65,Yes
27,8665-UTDHZ,Male,0,Yes,Yes,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,No,Electronic check,30.20,30.2,Yes

# Replacing Values
## Problem
You need to replace values in a DataFrame.

In [86]:
#  Solution
#  pandas replace is an easy way to find and replace values. For example, we can
#  replace any instance of "female" in the Sex column with "Woman":

# Replace values, show two rows
dataframe['gender'].replace("Female", "Women")

0       Women
1        Male
2        Male
3        Male
4       Women
        ...
7038     Male
7039    Women
7040    Women
7041     Male
7042     Male
Name: gender, Length: 7043, dtype: object

In [87]:
dataframe['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [90]:
# Replace "female" and "male with "Woman" and "Man"
dataframe['gender'].replace(["Women", "Male"], ["Female", "Man"]).value_counts()

Man       3555
Female    3488
Name: gender, dtype: int64

In [95]:
# Replace values, show two rows
dataframe.replace(1, "One").iloc[20, :]

customerID                8779-QRDMV
gender                          Male
SeniorCitizen                    One
Partner                           No
Dependents                        No
tenure                           One
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                    No
OnlineBackup                      No
DeviceProtection                 Yes
TechSupport                       No
StreamingTV                       No
StreamingMovies                  Yes
Contract              Month-to-month
PaperlessBilling                 Yes
PaymentMethod       Electronic check
MonthlyCharges                 39.65
TotalCharges                   39.65
Churn                            Yes
Name: 20, dtype: object

# Renaming Columns
## Problem
*  You want to rename a column in a pandas DataFrame.

In [97]:
dataframe.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [96]:
#  Solution
#  Rename columns using the rename method:

# Rename column, show two rows
dataframe.rename(columns={'gender': 'Sex'}).head(2)

,customerID,Sex,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [98]:
dataframe.rename(columns={'customerID': 'ID', 'Sex': 'Gender'}).head(2)

,ID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [101]:
# Load library
import collections

#  Create dictionary
column_names = collections.defaultdict(str)

# Create keys
for name in dataframe.columns:
  column_names[name]

# Show dictionary
column_names

defaultdict(str,
            {'Churn': '',
             'Contract': '',
             'Dependents': '',
             'DeviceProtection': '',
             'InternetService': '',
             'MonthlyCharges': '',
             'MultipleLines': '',
             'OnlineBackup': '',
             'OnlineSecurity': '',
             'PaperlessBilling': '',
             'Partner': '',
             'PaymentMethod': '',
             'PhoneService': '',
             'SeniorCitizen': '',
             'StreamingMovies': '',
             'StreamingTV': '',
             'TechSupport': '',
             'TotalCharges': '',
             'customerID': '',
             'gender': '',
             'tenure': ''})

# Finding the Minimum, Maximum, Sum, Average, and Count
## Problem
*  You want to find the min, max, sum, average, or count of a numeric column.

In [102]:
#  Solution
#  pandas comes with some built-in methods for commonly used descriptive statistics:

# Calculate statistics
print('Maximum:', dataframe['MonthlyCharges'].max())
print('Minimum:', dataframe['MonthlyCharges'].min())
print('Mean:', dataframe['MonthlyCharges'].mean())
print('Sum:', dataframe['MonthlyCharges'].sum())
print('Count:', dataframe['MonthlyCharges'].count())

Maximum: 118.75
Minimum: 18.25
Mean: 64.76169246059922
Sum: 456116.6
Count: 7043

# Finding Unique Values
##Problem
*  You want to select all unique values in a column.

In [106]:
#  Solution
#  Use unique to view an array of all unique values in a column:

# Select unique values
print(dataframe['gender'].unique())

# Show counts
print(dataframe['gender'].value_counts())

# Show number of unique values
print(dataframe['Contract'].nunique())

['Female' 'Male']
Male      3555
Female    3488
Name: gender, dtype: int64
3

# Handling Missing Values

In [107]:
pd.options.display.max_columns = None
col = len(dataframe.columns)
col

21

In [108]:
dataframe.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [109]:
count_nan = len(dataframe) - dataframe.count()

In [110]:
# Show number of rows
print("Number Of Rows In The Original DataFrame:", len(dataframe))
print("Number Of Rows After Deduping:", len(dataframe.drop_duplicates()))

Number Of Rows In The Original DataFrame: 7043
Number Of Rows After Deduping: 7043

# Deleting a Column
##Problem
*  You want to delete a column from your DataFrame.

In [112]:
#  Solution
#  The best way to delete a column is to use drop with the parameter axis=1 (i.e., the column axis)

# Delete column
dataframe.drop('customerID', axis=1).head(2)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

#Deleting a Row
##Problem
*  You want to delete one or more rows from a DataFrame.

In [113]:
#Solution
#Use a boolean condition to create a new DataFrame excluding the rows you want to delete:

# Delete rows, show first two rows of output
dataframe[dataframe['gender'] != 'Male'].head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [114]:
# Delete row, show first two rows of output
dataframe[dataframe['MultipleLines'] != 'No phone service'].head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [115]:
# Delete row, show first two rows of output
dataframe[dataframe.Partner != 'No'].head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes

# Grouping Rows by Values
## Problem
*  You want to group individual rows according to some shared value.

In [116]:
#  Solution
#  groupby is one of the most powerful features in pandas:

# Group rows by the values of the column 'Sex', calculate mean
# of each group
dataframe.groupby('gender').mean()

        SeniorCitizen     tenure  MonthlyCharges
gender
Female       0.162844  32.244553       65.204243
Male         0.161463  32.495359       64.327482

# Grouping Rows by Time
## Problem
*  You need to group individual rows by time periods.

In [118]:
import numpy as np
# Create date range
time_index = pd.date_range('06/06/2017', periods=100000, freq='30S')

# Create DataFrame
dataframe = pd.DataFrame(index=time_index)

# Create column of random values
dataframe['Sale_Amount'] = np.random.randint(1, 10, 100000)

In [120]:
# Group rows by week, calculate sum per week
dataframe.resample('W').sum()

            Sale_Amount
2017-06-11        86769
2017-06-18       100581
2017-06-25       101465
2017-07-02       100555
2017-07-09       100556
2017-07-16        10481

#Looping Over a Column
## Problem
*  You want to iterate over every element in a column and apply some action.

In [122]:
#  Solution
#  You can treat a pandas column like any other sequence in Python:

# Load library
import pandas as pd

# Create URL
url = 'https://thecleverprogrammer.com/wp-content/uploads/2020/05/churn.csv'

# Load data
dataframe = pd.read_csv(url)

# Print first two names uppercased
for name in dataframe['PaperlessBilling'][0:2]:
  print(name.upper())

# Print first two names uppercased
for name in dataframe['PaperlessBilling'][0:2]:
  print(name.upper())

YES
NO
YES
NO